.popup__closeButton{
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -30px;
}
.popup__closeButton:hover{
    opacity: 0.6;
}
